.root
{

}

.text-area .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}
.logo
{
-fx-background-color:rgb(44,50,57);
-fx-font-size: 24;

}
.button2
{
-fx-background-color: rgb(48,46,201);
-fx-background-radius:15px;
-fx-cursor: hand;
}
.button2:hover
{
-fx-background-color:#3F8E9F;
}
.text-field {
    -fx-background-color:white;
    -fx-background-radius: 0;

}
.text-field:hover
{
-fx-border-color: #a768f3;
}
.listview
{
 -fx-border-color: #f5f2f2;
 -fx-background-color: none;

}
.listview .increment-button, .listview .decrement-button
{

}
.listview .scroll-bar:vertical
{
-fx-background-color:transparent;
}

.listview .scroll-bar .thumb
{
-fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}
.listview1
{
 -fx-border-color: #e5e9ec;
 -fx-background-color:  #EDEFF3;

}
.listview1 .increment-button, .listview .decrement-button
{

}
.listview1 .scroll-bar:vertical
{
-fx-background-color:transparent;
}

.listview1 .scroll-bar .thumb
{
-fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}

.button3
{
-fx-background-color: #ffffff;
-fx-background-radius:7px;
-fx-cursor: hand;
}
.button3:hover
{
-fx-background-color: #B1BDC5;

}


.icon
{
-fx-background-color:#B6B5C3;
}

.button1
{
-fx-cursor: hand;
-fx-font-family:"Segoe UI Semibold";
-fx-background-color:rgb(44,50,57);
-fx-font-size: 19px;
-fx-text-fill: #9FADBD;
}
.button1:hover
{
-fx-text-fill:rgb(255,255,255);
-fx-background-color: #5A6068;
-fx-border-width:0px 0px 0px 3px;
-fx-border-color:#92D980;


}
.historyPane
{
-fx-background-color:#ffffff;
-fx-background-radius:30px;
}